<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Boomer</title>
</head>
<body>
    <section class="container">
        <article class="card1">
            <h3>Introduction</h3>
                <p class="cardText">Welcome. I'm <%= name %> and this is my talk on <%= subject %>. 
                    Merriam-Webster defines <%= subject %> as 
                </p>
        </article>
        <article class="card2">
            <p>
                "New South Wales Torquay Newcastle South Australia ute the Kimberley then 
                play Two-Up. Great Barrier Reef lilly pilly Cairns or crimson rosella licensed or BYO the 
                lawn bowls. Eucalyptus Indian Pacific Railroad mozzie flat out Penfold's Grange the Salvos. 
                To the South Australia blue-ringed octopus currawong from Mrs. Macquarie's Chair."
            </p>
            <p>
                Back in MY day...
            </p>
        </article>
</body>
<footer>
    <a href="/">Home</a>
</footer>
</html>