<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Terrible TedX Talk Template</title>
</head>
<body>
    <h1>Terrible TedX Talk Template</h1>
    <p>An easy way to make you're TedX talk. Just enter your name, topic and a style.</p>
    <form action="" method="post">
        <div id="nameTag">
            <section id="tagTop">
                <p>Hello</p>
                <p>my name is</p>
            </section>
            <input type="text" name="name" id="name" placeholder="Your name">
        </div>
        <div id="quotes">
            &#8220;<input type="text" name="subject" id="subject" placeholder="Talk subject">&#8221;      
        </div>
        <h3>Styles</h3>
        <button class="cardBtn" formaction="/nothere">We're not here</button>
        <button class="cardBtn" formaction="/boomer">Boomer</button>
        <button class="cardBtn" formaction="/quote">Quote</button>
    </form>
</body>
<footer>
    <p>photo by <a href="https://unsplash.com/@lighttouchedphotography">Kevin Schmid</a> on <a href="https://unsplash.com/">Unsplash</a></p>
</footer>
</html>