<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <title>Terrible TedX Talk Template</title>
</head>
<body>
    <h1>Terrible TedX Talk Template</h1>
    <p>An easy way to make you're TedX talk. Just enter your name, topic and a style.</p>
    <form action="" method="post">
        <input type="text" name="name" id="name" placeholder="Your name">
        <input type="text" name="subject" id="subject" placeholder="Talk subject">
        <button formaction="/nothere">We're not here</button>
        <button formaction="/boomer">Boomer</button>
    </form>
</body>
<footer>
    <p>photo by <a href="https://unsplash.com/@lighttouchedphotography">Kevin Schmid</a> on <a href="https://unsplash.com/">Unsplash</a></p>
</footer>
</html>