.card1, .card2 {
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    background-color: #f2f0d5;
    border-color: #e1e1e1;
    box-shadow: 10px 10px 5px #2d2c2c;
    width: 50%;
    align-items: center;
    margin-bottom: 15vh;
    margin-top: 5vh;
    height: 30%;
    color: black;
    overflow: auto;
    font-size: 2.5vh;
}

.merWText {
    display: flex;
    font-style: italic;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.mwLogo {
    min-width: 50px;
    min-height: 50px;
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}

.cardText {
    padding: 2rem;
}

body {
    background-image: url(../imgs/kevin-schmid-RV6-09J3HYU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    color: #f4fcff;
    backdrop-filter: blur(0.1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

body > h1 {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 1rem;
    font-size: 2vmin;
}

a:visited {
   color:#94e1e1;
}

header {
    align-self: self-start;
    font-size: 2vmin;
}

.cardBtn {
    border: #e1e1e1;
    background-color: #f2f0d5;
    box-shadow: 2px 2px 5px #2d2c2c;
    margin-right: 1rem;
    padding: 0.1rem 0.3rem;
    width: 6rem;
    height: 3rem;

}

#subject {
    margin: 1rem;
    background: #f5f5f500;
    color: #fff;
    border-style: hidden;
    height: 2rem;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#subject:hover {
    background: #f5f5f542;
}

#quotes {
    font-size: xxx-large;
    font-style: italic;
}

#nameTag {
    height: 5rem;
    width: 16rem;
    border-radius: 5px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

#tagTop {
    text-align: center;
    color: white;
    border-radius: inherit;
}

#tagTop > p {
    margin: 0;
}

#name {
    width: 97%;
    height: 30%;
    text-align: center;
    font-family: cursive;
}